<div ng-app="MyApp" class="container">

  <div ui-view="main"></div>
</div>
<!--
<div ng-app="MyApp" class="container">
  <a ui-sref="state1"> state1 </a>
  <b>Hello</b>
  <div ui-view="main"></div>
</div> -->


